@import url('https://fonts.googleapis.com/css2?family=Codystar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Outline&display=swap');

.openingPage-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.openingPage-wrapper{
    display: flex;
    flex-direction: column;
}

.Openingpage-logo{
    margin-top: 20px;
}

.Openingpage-stair{
    margin-top: -40%;
}

@keyframes bright-logo {
    0%,
    100% {
        text-shadow: 0 0 1px #00FFFF, 0 0 1px #00FFFF, 0 0 1px #00FFFF, 0 0 1px #fa16c9, 0 0 2px #00FF00, 1px 1px 3px #FF1493;
        color: transparent;
    }
    50%{
        text-shadow: 0 0 1px #00FFFF, 0 0 1px #00FFFF, 0 0 1px #00FFFF, 0 0 1px #fa16c9, 0 0 2px #00FF00, 1px 1px 3px #FF1493;
        color: #fff;
    }
}